<!DOCTYPE html>
<html lang="en-us" ng-app="trixDemo">
    <head>
        <meta charset="UTF-8">
        <title>Angular-trix - A rich wysiwyg text editor directive for angularjs.</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Angular-trix - A rich wysiwyg text editor directive for angularjs.">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900">
        <link rel="stylesheet" type="text/css" href="assets/styles/normalize.css" media="screen">
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="assets/styles/trix.css">
        <link rel="stylesheet" type="text/css" href="assets/styles/stylesheet.css" media="screen">
        <link rel="stylesheet" type="text/css" href="assets/styles/github-light.css" media="screen">
    </head>
    <body ng-controller="trixDemoCtrl">
        <section class="page-header">
            <h1 class="project-name">Angular-trix</h1>
            <h2 class="project-tagline">A rich wysiwyg text editor directive for angularjs.</h2>
            <a href="https://github.com/sachinchoolur/angular-trix" class="btn">View on GitHub</a>
            <a href="https://github.com/sachinchoolur/angular-trix" class="btn">Read Documentation</a>
        </section>
        <section class="main-content">
            <div class="editor-wrap">
                <h2>Angular-trix is a lightweight angularjs directive for <a target="_blank" href="https://github.com/basecamp/trix">trix editor</a></h2>
                <trix-editor ng-model-options="{ updateOn: 'blur' }" spellcheck="false" class="trix-content" ng-model="trix" angular-trix trix-initialize="trixInitialize(e, editor);" trix-change="trixChange(e, editor);" trix-selection-change="trixSelectionChange(e, editor);" trix-focus="trixFocus(e, editor);" trix-blur="trixBlur(e, editor);" trix-file-accept="trixFileAccept(e, editor);" trix-attachment-add="trixAttachmentAdd(e, editor);" trix-attachment-remove="trixAttachmentRemove(e, editor);" placeholder="Write something.."></trix-editor>
            </div>
            <div class="trix-events"> 
                <ul>
                    <li id="trix-initialize"><span class="indicator"></span><span class="label">trix-initialize</span></li>
                    <li id="trix-change"><span class="indicator"></span><span class="label">trix-change</span></li>
                    <li id="trix-selection-change"><span class="indicator"></span><span class="label">trix-selection-change</span></li>
                    <li id="trix-focus"><span class="indicator"></span><span class="label">trix-focus</span></li>
                    <li id="trix-blur"><span class="indicator"></span><span class="label">trix-blur</span></li>
                    <li id="trix-file-accept"><span class="indicator"></span><span class="label">trix-file-accept</span></li>
                    <li id="trix-attachment-add"><span class="indicator"></span><span class="label">trix-attachment-add</span></li>
                    <li id="trix-attachment-remove"><span class="indicator"></span><span class="label">trix-attachment-remove</span></li>
                </ul>
            </div>
            <div class="text-area">
                <h2>Html output</h2>
                <textarea spellcheck="false" ng-model="trix" msd-elastic ng-model-options="{ updateOn: 'blur' }"></textarea>
            </div>
        </section>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
        <script src="assets/scripts/trix.js"></script>
        <script src="assets/scripts/elastic.js"></script>
        <script src="assets/scripts/angular-trix.js"></script>
        <script src="assets/scripts/democtrl.js"></script>
    </body>
</html>